/*  small slider */
.slider-image {
    height: 20px;
}
/* .before{
  width: 80%;
  margin-left: 10%;
  height: 10vh;
  position: relative;
  margin-bottom: 10vh;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 2.5vh;
}
.after{
  width: 80%;
  margin-left: 10%;
  height: 10vh;
  position: relative;
  margin-bottom: 10vh;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 2.5vh;
} */
/* end small slider */